/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap');

:root{
    --primary-color: #ffc760;
    --secondary-color: #8a60ff;
}

html{
    min-height: 100%;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, #8a60ff, #f8dc95);
}


.login-header {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.171);
    font-size: 2.5rem;
    padding-left: 30rem;
    height: 8vh;
    padding-top: 40px;
    color: white;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.default-header{
    border-bottom: 2px solid rgba(206, 184, 250, 0.336);
    background-color: #8a60ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 8rem;
    height: 8vh;
}

.default-header a{
    text-decoration: none;
}


/*--- NAV ---*/

.slogan{
    font-family: 'Lilita One', cursive;
    /*margin: auto;*/
    margin: 0;
    color: white;
}

.default-slogan{
    font-family: 'Lilita One', cursive;
    letter-spacing: 1px;
    font-size: 2rem;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: auto;
    padding-left: 5rem;
}

.navbar ul{
    list-style-type: none;
}

.navbar li {
    display: inline;
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
}

.default-header a:active, .default-header a:visited{
    text-decoration: none;
}

.nav-user-wr{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.name-wr{
    color: white;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.name-wr p{
    margin: 0;
}

.nav-slogan-wr{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.default-header img{
    width: 40px;
}


button {
    cursor: pointer;
}

.loginPage{
    width: 50%;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.171);
    margin: 20vh auto;
    background-color: white;
}

.loginPage .wr{
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-wr{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
}

.icon-wr{
    background-color: var(--primary-color);
    height: 100%;
}

.icon-wr img{
    margin-left: 2rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

fieldset{
    border: none;
    padding: 0;
}

.loginForm input{
    border: none;
    border-bottom: 1.5px solid black;
    width: 100%;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.loginForm input:focus{
    outline: none;
}

.loginForm button {
    border: none;
    background-color: var(--primary-color);
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: bold;
}

.loginForm button:hover {
    background-color: white;
    border: 1px solid var(--primary-color);
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul.profile-actions {
    display: flex;
    justify-content: center;
}

.profile-actions li {
    display: inline;
    padding: 4rem;
}

.profile-actions button{
    background-color: transparent;
    border: 0;
}

section.translation-history{
    display: flex;
    justify-content: center;
}

/*---Translation page--- */

.translation-wr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.translation-wr form{
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: var(--secondary-color);
    justify-content: center;
    width: 100%;
}

.translation-wr fieldset{
    border: 3px solid white;
    background-color: rgb(226, 226, 226);
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.2rem 0.2rem 1rem;
    align-items: center;
}

.translation-wr input{
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 30px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;

}

.translation-wr input:focus{
    outline: none;
}

.translation-image-wr{
    width: 70%;
    margin-top: 3rem;
}

.translation-wr button{
    border: none;
    border-radius: 20px;
    background-color: rgb(226, 226, 226);
}

.img-wr{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.171);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 2rem;
    min-height: 30vh;
}

.img-wr img{
    width: 120px;
}

.translation-btn-wr{
    background-color: var(--primary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;

}

.translation-btn-wr button{
   height: 25px;
   border: none;
   background-color: var(--secondary-color);
   border-radius: 20px;
   padding: 15px;
   line-height: 4px;
   color: white;
   font-family: 'Montserrat', sans-serif;
   
}

